In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler
import seaborn as sns
sns.set()
from sklearn.cluster import KMeans
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [3]:
zoo_data = pd.read_csv("zoo.csv")

In [4]:
zoo_data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [5]:
x=zoo_data.iloc[:,1:17]

In [7]:
x.shape

(100, 16)

In [8]:
x.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1

In [9]:
y=zoo_data.iloc[:,17]

In [10]:
y.shape

(100,)

In [11]:
y.head()

0    1
1    1
2    4
3    1
4    1
Name: class_type, dtype: int64

# Spilitting the data

In [12]:
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.25) #25% test data & 75% train data

In [13]:
X_train.shape

(75, 16)

In [16]:
X_train.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
96,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0
11,0,1,1,0,1,0,0,0,1,1,0,0,2,1,1,0
97,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
48,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,0
95,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1

In [17]:
X_test.shape

(25, 16)

In [18]:
X_test.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
84,0,0,1,0,0,1,1,0,0,0,0,0,5,0,0,0
81,0,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0
25,0,0,1,0,0,1,1,1,1,1,0,0,4,0,0,0
93,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0
5,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1

In [19]:
y_train.shape

(75,)

In [20]:
y_train.head()

96    6
11    2
97    1
48    1
95    1
Name: class_type, dtype: int64

In [21]:
y_test.shape

(25,)

In [22]:
y_test.head()

84    7
81    4
25    5
93    1
5     1
Name: class_type, dtype: int64

# Building the classifier

In [23]:
zoo_classifier = DecisionTreeClassifier(random_state=0)

In [24]:
zoo_classifier.fit(X_train, y_train)

DecisionTreeClassifier(random_state=0)

# Testing the model

In [30]:
zoo_classifier.score(X_test,y_test)

0.92

# Making predictions

In [32]:
zoo_classifier.predict(X_test[10:15]) #predicted value

array([1, 1, 2, 7, 1], dtype=int64)

In [34]:
y_test[10:15] #actual value

73    1
68    1
23    2
41    6
92    1
Name: class_type, dtype: int64